body{
  font: 100% Lucida Sans, Verdana;
   margin: 20px;
  line-height: 26px;

}

div{
  display: block;
  unicode-bidi: isolate;
}
    
#top{
  background-color: #04aa6d;
  color: white;
  padding: 15px;
}

#top h1, #top p, #menulist{
  margin: 0;
  padding: 0;
}


#menubar{
  width: 200px;
  float: left;
}

#top, #sidebar, #footer, .menu-item{
  border-radius: 4px;
  margin: 4px;
}


#menubar a{
  text-decoration: none;

}

#menubar{
  list-style-type: none;
}


#first-item{
  background-color: #04aa6d;
  color: white;
  font-weight: bold;
}

#menu-item{
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  padding: 2px;
}

#main{
  padding: 10px;
  margin: 0 210px;
}


#sidebar {
  background-color: #32a4e7;
  color: white;
  padding: 10px;
  width: 180px;
  bottom: 0px;
  top: 0px;
  right: 0px;
  position: absolute;
}

#footer{
  border: 1px solid #d4d4d4;
  text-align: center;
  padding: 10px;
  font-size: 70%;
  background-color: #f1f1f1;
  line-height: 14px;
}