body{
  font: 100% Lucida Sans, Verdana;
   margin: 20px;
  line-height: 26px;

}

div{
  display: block;
  unicode-bidi: isolate;
}
    
#top{
  background-color: #04aa6d;
  color: white;
  padding: 15px;
}

#top h1, #top p, #menulist, #menubar{
  margin: 0;
  padding: 0;
}


#menubar{
  width: 180px;
  float: left;


}

#top, #sidebar, #footer, .menu-item{
  border-radius: 4px;
  margin: 4px;
}


#menubar a{
  text-decoration: none;

}

li{
  list-style-type: none;
}


#first-item{
  background-color: #04aa6d;
  color: white;
  font-weight: bold;
  padding: 2px;
}

#menu-item{
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  padding: 2px;
}




#footer{
  border: 1px solid #d4d4d4;
  text-align: center;
  padding: 10px;
  font-size: 70%;
  background-color: #f1f1f1;
  line-height: 14px;
}


#main-container {
  display: flex;
  align-items: stretch;
  position: relative;
}

#main {
  flex-grow: 1;
  padding: 10px;
  margin: 0 240;
}

#sidebar {
  background-color: #32a4e7;
  color: white;
  
  padding: 10px;
  width: 230px;
  height: auto; /* 높이를 flexbox에 맞추기 위해 auto로 설정 */
  margin: 0;
  position: relative;

  right: 0;
  top: 0;
}
